.navbar {
  height: 50px;
  background-color: brown;
  color: aliceblue;
  display: flex;
  list-style-type: none;
  align-items: center;
  text-align: center;
  width: 100%;
}

.eachitems {
  width: 30%;
}

.another {
  height: 400px;
  color: aliceblue;
  background-color: crimson;
}
body {
  margin: 20px;
}
.post_design {
  height: 300px;
  background-color: cadetblue;
  color: white;
}
